<template>
  <nav>
    <router-link
      class="link"
      v-for="link in navLink"
      :key="link.to"
      :to="link.to"
      >{{ link.name }}</router-link
    >
    <button v-if="isLoggedIn" class="mx-2" @click="logout">Logout</button>
    <button v-else class="mx-2" @click="$emit('open-login-modal')">
      Login
    </button>
  </nav>
</template>

<script>
import firebase from "../utilities/firebase";
export default {
  props: { isLoggedIn: { type: Boolean, required: true } },
  data() {
    return {
      navLink: [{ to: "/", name: "Home" }],
    };
  },
  methods: {
    logout() {
      firebase.auth().signOut();
      // .then((res) => {})
      // .catch((e) => {});
    },
  },
};
</script>

<style scoped>
nav {
  background-image: linear-gradient(to right, #1a40af, #2563eb);
  width: 100%;
  padding: 0.5rem 1rem;
}
.link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  color: white;
}
</style>